<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Create New Student</h5>
                    </div>
                    <div class="card-body">
                        <form id="student-form" method="post">
                            <div class="row">
                                <div class="col-xl-6 col-sm-6">
                                    <div class="mb-3">
                                        <label for="student_username">Username <span class="required">*</span></label>
                                        <input type="text" id="student_username" name="student[username]" required
                                               class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="student_email">Email <span class="required">*</span></label>
                                        <input type="email" id="student_email" name="student[email]" required
                                               class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="student_Address">Address</label>
                                        <textarea id="student_Address" name="student[Address]" class="form-control"
                                                  rows="7"></textarea>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-sm-6">
                                    <div class="mb-3">
                                        <label for="student_fullName">First Name And Last Name <span
                                                class="required">*</span></label>
                                        <input type="text" id="student_fullName" name="student[fullName]" required
                                               class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="student_phone">Phone</label>
                                        <input type="tel" id="student_phone" name="student[phone]" class="form-control"
                                               minlength="8" maxlength="16">
                                    </div>
                                    <div class="mb-3">
                                        <label for="student_grand">Gender</label>
                                        <select id="student_grand" name="student[grand]" class="form-control">
                                            <option value="">Select gender...</option>
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                            <option value="O">Other</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="multi-value-select">Session</label>
                                        <select id="multi-value-select" name="sessions[]" multiple class="form-control">
                                            <option value="12">SESSION TEST</option>
                                            <option value="25">Révision Math bac info 2026</option>
                                            <option value="26">heithem session</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label text-primary">Photo</label>
                                        <div class="avatar-upload">
                                            <div class="avatar-preview">
                                                <div id="imagePreview"
                                                     style="background-image: url(../static/assets/admin/images/no-img-avatar.png);"></div>
                                            </div>
                                        </div>
                                        <div class="change-btn mt-1">
                                            <input type="file" id="student_imgFile" name="student[imgFile]"
                                                   class="d-none" accept=".png, .jpg, .jpeg">
                                            <label for="student_imgFile"
                                                   class="dlab-upload mb-0 btn btn-primary btn-sm">Choose File</label>
                                            <a href="javascript:void(0);"
                                               class="btn btn-danger light remove-img ms-2 btn-sm" id="remove-img">Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-xl-6 mb-3">
                                    <label for="student_password_first">Password <span class="required">*</span></label>
                                    <input type="password" id="student_password_first" name="student[password][first]"
                                           required class="form-control" minlength="4" maxlength="25">
                                </div>
                                <div class="col-xl-6 mb-3">
                                    <label for="student_password_second">Re-Enter Password <span
                                            class="required">*</span></label>
                                    <input type="password" id="student_password_second" name="student[password][second]"
                                           required class="form-control" minlength="4" maxlength="25">
                                </div>
                            </div>
                            <div class="float-end">
                                <button type="submit" id="create_student" class="btn btn-outline-primary me-3">Create</button>
                                <a href="/dashboard/show-platform-student" class="btn btn-outline-danger">Close</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>