<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add new Level</h4>
                    </div>
                    <div class="card-body">
                        <form name="account_level" method="post" id="account-level-form">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-xl-6 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="account_level_levelConfig">
                                                    Level <code class="highlighter-rouge">*</code>
                                                </label>
                                                <select id="account_level_levelConfig" name="account_level[levelConfig]"
                                                        class="form-select" aria-label="Level" required>
                                                    <option value="" selected>Choose the Level...</option>
                                                    <option value="2">Nursery or Crèche</option>
                                                    <option value="3">Kindergarten</option>
                                                    <option value="4">Elementary School</option>
                                                    <option value="5">Middle School or Junior High School</option>
                                                    <option value="6">High School</option>
                                                    <option value="7">Vocational Training</option>
                                                    <option value="8">College or University</option>
                                                    <option value="9">Bachelor Degree</option>
                                                    <option value="10">Master Degree</option>
                                                    <option value="12">Doctoral Degree (Ph.D.)</option>
                                                    <option value="13">Professional Development</option>
                                                    <option value="14">Adult Education</option>
                                                    <option value="15">Special Education</option>
                                                    <option value="16">Gifted Education</option>
                                                    <option value="17">Other</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-sm-12">
                                            <div class="mb-3">
                                                <label class="form-label"
                                                       for="account_level_description">Description</label>
                                                <textarea id="account_level_description"
                                                          name="account_level[description]"
                                                          class="form-control"
                                                          rows="7"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
