<nav class="horizontal-nav bg-light border-bottom">
        <div class="container-fluid">
            <div class="d-flex flex-wrap justify-content-start align-items-center py-2">
                <a class="nav-link-horizontal" href="#">
                    <i class="bi bi-grid-3x3-gap"></i>
                    Dashboard
                </a>
                <a class="nav-link-horizontal" href="#">
                    <i class="bi bi-person-plus"></i>
                    Admission
                </a>
                <a class="nav-link-horizontal active" href="#">
                    <i class="bi bi-people"></i>
                    Students
                </a>
                <a class="nav-link-horizontal" href="#">
                    <i class="bi bi-book"></i>
                    Academic
                </a>
                <a class="nav-link-horizontal" href="#">
                    <i class="bi bi-file-earmark-text"></i>
                    Examinations
                </a>
                <a class="nav-link-horizontal" href="#">
                    <i class="bi bi-folder"></i>
                    Study Materials
                </a>
                <a class="nav-link-horizontal" href="#">
                    <i class="bi bi-currency-dollar"></i>
                    Fees Collections
                </a>
                <a class="nav-link-horizontal" href="#">
                    <i class="bi bi-people"></i>
                    Human Resource
                </a>
                <a class="nav-link-horizontal" href="#">
                    <i class="bi bi-receipt"></i>
                    Income & Expenses
                </a>
            </div>
        </div>
    </nav>