<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Subject Details #4</h4>
                    </div>
                    <div class="card-body">
                        <form name="account_subject" method="post" id="account-subject-form">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12">
                                    <div class="row">

                                        <div class="col-xl-6 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="account_subject_subjectConfig">
                                                    Subject <code class="highlighter-rouge">*</code>
                                                </label>
                                                <br>
                                                <select id="account_subject_subjectConfig"
                                                        name="account_subject[subjectConfig]"
                                                        required
                                                        class="selectpicker"
                                                        aria-label="Subject"
                                                        data-live-search="true">
                                                    <option value="">Choose the Subject...</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-xl-6 col-sm-6" id="div-other-title" style="display: none;">
                                            <div class="mb-3">
                                                <label class="form-label" for="account_subject_otherSubject">
                                                    Other Subject <code class="highlighter-rouge">*</code>
                                                </label>
                                                <input type="text"
                                                       id="account_subject_otherSubject"
                                                       name="account_subject[otherSubject]"
                                                       class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-xl-6 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="account_subject_status">
                                                    Status <code class="highlighter-rouge">*</code>
                                                </label>
                                                <select id="account_subject_status"
                                                        name="account_subject[status]"
                                                        class="selectpicker form-control">
                                                    <option value="1" selected>Active</option>
                                                    <option value="0">Inactive</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-xl-12 col-sm-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="account_subject_description">
                                                    Description
                                                </label>
                                                <textarea id="account_subject_description"
                                                          name="account_subject[description]"
                                                          class="form-control"
                                                          rows="7"
                                                          data-ckeditor="true"></textarea>
                                            </div>
                                        </div>

                                        <!-- Sub Subject Table -->
                                        <div class="col-xl-12 mt-4">
                                            <div class="table-responsive">
                                                <div class="container mt-5">
                                                    <h2>Sub Subject</h2>
                                                    <table class="table table-bordered">
                                                        <thead class="thead-dark">
                                                            <tr>
                                                                <th class="title-column">Sections/levels</th>
                                                                <th class="title-column" data-id="2">Bac</th>
                                                                <th class="title-column" data-id="9">Kindergarten</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th class="title-column" data-id="2">Info</th>
                                                                <td id="cell-2-2">
                                                                    <button type="button" class="btn btn-outline-primary me-3"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#subSubjectModal"
                                                                            data-section="2" data-level="2">
                                                                        Add <i class="fa fa-plus" style="font-size:10px;color:green"></i>
                                                                    </button>
                                                                </td>
                                                                <td id="cell-2-9">
                                                                    <button type="button" class="btn btn-outline-primary me-3"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#subSubjectModal"
                                                                            data-section="2" data-level="9">
                                                                        Add <i class="fa fa-plus" style="font-size:10px;color:green"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th class="title-column" data-id="5">economie et gestion</th>
                                                                <td id="cell-5-2">
                                                                    <button type="button" class="btn btn-outline-primary me-3"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#subSubjectModal"
                                                                            data-section="5" data-level="2">
                                                                        Add <i class="fa fa-plus" style="font-size:10px;color:green"></i>
                                                                    </button>
                                                                </td>
                                                                <td id="cell-5-9">
                                                                    <button type="button" class="btn btn-outline-primary me-3"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#subSubjectModal"
                                                                            data-section="5" data-level="9">
                                                                        Add <i class="fa fa-plus" style="font-size:10px;color:green"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="float-end">
                                <input type="hidden" id="subSubjects_input" name="subSubjects">
                                <input type="hidden" id="subSubjects_delete" name="subSubjects_delete">
                                <button type="submit" class="btn btn-outline-success me-2" id="create_sub_subject">Edit</button>
                                <a class="btn btn-outline-danger" href="/dashboard/show-subject">Close</a>
                            </div>

                            <input type="hidden"
                                   id="account_subject__token"
                                   name="account_subject[_token]"
                                   value="">

                        </form>

                        <!-- Sub Subject Modal -->
                        <div class="modal fade" id="subSubjectModal" tabindex="-1" aria-labelledby="subSubjectModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-center">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="subSubjectModalLabel">New Sub Subject</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <label for="sub_subject_name" class="form-label">Name</label>
                                            <input type="text" class="form-control" id="sub_subject_name" value="">
                                            <input type="hidden" id="section_id" value="">
                                            <input type="hidden" id="level_id" value="">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="add_new_sub_subject">Add New Sub Subject</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>