<div class="content-body">
    <div class="container-fluid">
        <div class="page-title flex-wrap">
            <form id="searchForm" method="get" action="/dashboard/show-payment-session">
                <div class="input-group search-area mb-3" style="width: 18.875rem;!important;">
                    <input type="text" id="searchInput" class="form-control" placeholder="Search here..." name="search_payment_session" value="">
                    <span class="input-group-text">
                        <a href="javascript:void(0)">
                            <svg width="15" height="15" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.5605 15.4395L13.7527 11.6317C14.5395 10.446 15 9.02625 15 7.5C15 3.3645 11.6355 0 7.5 0C3.3645 0 0 3.3645 0 7.5C0 11.6355 3.3645 15 7.5 15C9.02625 15 10.446 14.5395 11.6317 13.7527L15.4395 17.5605C16.0245 18.1462 16.9755 18.1462 17.5605 17.5605C18.1462 16.9747 18.1462 16.0252 17.5605 15.4395V15.4395ZM2.25 7.5C2.25 4.605 4.605 2.25 7.5 2.25C10.395 2.25 12.75 4.605 12.75 7.5C12.75 10.395 10.395 12.75 7.5 12.75C4.605 12.75 2.25 10.395 2.25 7.5V7.5Z" fill="#01A3FF"></path>
                            </svg>
                        </a>
                    </span>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="card contact_list text-center">
                    <div class="card-body">
                        <div class="user-content">
                            <div class="user-info">
                                <div class="modulel flex-wrap mb-3" id="lightgallery">
                                    <a href="/assets/admin/images/session-defult.png" data-exthumbimage="/assets/admin/images/session-defult.png" data-src="/assets/admin/images/session-defult.png">
                                        <img src="/assets/admin/images/session-defult.png" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="user-details">
                                    <p class="short-title">Etude Science</p>
                                </div>
                            </div>
                        </div>
                        <div class="contact-icon">
                            <span class="badge badge-lg badge-primary light">
                                50 AMD / Month
                            </span>
                        </div>
                        <div class="align-items-center">
                            <a href="/dashboard/show-payment-session-details/18" class="btn  btn-success btn-sm w-50 me-2"><i class="fa-solid fa-cart-shopping me-2"></i>Payment</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="card contact_list text-center">
                    <div class="card-body">
                        <div class="user-content">
                            <div class="user-info">
                                <div class="modulel flex-wrap mb-3" id="lightgallery">
                                    <a href="/uploads/session/removal-ai-8f70f35d-102a-478a-a0bc-534195b346dc-removal-ai-4caa8003-327f-4acb-873b-329bed32ede5-fond-transparent-logo-n-07-6880aff3ec4b7270060221.png" data-exthumbimage="/uploads/session/removal-ai-8f70f35d-102a-478a-a0bc-534195b346dc-removal-ai-4caa8003-327f-4acb-873b-329bed32ede5-fond-transparent-logo-n-07-6880aff3ec4b7270060221.png" data-src="/uploads/session/removal-ai-8f70f35d-102a-478a-a0bc-534195b346dc-removal-ai-4caa8003-327f-4acb-873b-329bed32ede5-fond-transparent-logo-n-07-6880aff3ec4b7270060221.png">
                                        <img src="/uploads/session/removal-ai-8f70f35d-102a-478a-a0bc-534195b346dc-removal-ai-4caa8003-327f-4acb-873b-329bed32ede5-fond-transparent-logo-n-07-6880aff3ec4b7270060221.png" class="avatar-custom avatar-xl">
                                    </a>
                                </div>
                                <div class="user-details">
                                    <p class="short-title">Session Test</p>
                                </div>
                            </div>
                        </div>

                        <div class="contact-icon">
                            <span class="badge badge-lg badge-primary light">
                                50 TND / Week
                            </span>
                        </div>
                        <div class="align-items-center">
                            <a href="/dashboard/show-payment-session-details/12" class="btn  btn-success btn-sm w-50 me-2"><i class="fa-solid fa-cart-shopping me-2"></i>Payment</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="card contact_list text-center">
                    <div class="card-body">
                        <div class="user-content">
                            <div class="user-info">
                                <div class="modulel flex-wrap mb-3" id="lightgallery">
                                    <a href="/assets/admin/images/session-defult.png" data-exthumbimage="/assets/admin/images/session-defult.png" data-src="/assets/admin/images/session-defult.png">
                                        <img src="/assets/admin/images/session-defult.png" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="user-details">
                                    <p class="long-title">Etude Math Bac Eco 2026</p>
                                </div>
                                    </div>
                                </div>

                        <div class="contact-icon">
                            <span class="badge badge-lg badge-primary light">
                                80 TND / Month
                            </span>
                        </div>

                        <div class="align-items-center">
                            <a href="/dashboard/show-payment-session-details/10" class="btn  btn-success btn-sm w-50 me-2"><i class="fa-solid fa-cart-shopping me-2"></i>Payment</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="card contact_list text-center">
                    <div class="card-body">
                        <div class="user-content">
                            <div class="user-info">
                                <div class="modulel flex-wrap mb-3" id="lightgallery">
                                    <a href="/uploads/session/bac-info-2026-68ce88807e9d8905423388.png" data-exthumbimage="/uploads/session/bac-info-2026-68ce88807e9d8905423388.png" data-src="/uploads/session/bac-info-2026-68ce88807e9d8905423388.png">
                                        <img src="/uploads/session/bac-info-2026-68ce88807e9d8905423388.png" class="avatar-custom avatar-xl">
                                    </a>
                                </div>
                                <div class="user-details">
                                    <p class="long-title">Etude Math Bac Info 2026</p>
                                </div>
                            </div>
                        </div>
                        <div class="contact-icon">
                            <span class="badge badge-lg badge-primary light">
                                90 TND / Month
                            </span>
                        </div>

                        <div class="align-items-center">
                            <a href="/dashboard/show-payment-session-details/9" class="btn  btn-success btn-sm w-50 me-2"><i class="fa-solid fa-cart-shopping me-2"></i>Payment</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-pagenation teach">
                <small></small>
                <nav>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pagination">
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>