<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="" href="/dashboard" aria-expanded="false">
                    <i class="material-symbols-outlined">home</i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <i class="material-symbols-outlined">settings</i>
                    <span class="nav-text">Configuration</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/dashboard/show-level">List levels</a></li>
                    <li><a href="/dashboard/show-section">Lists sections</a></li>
                    <li><a href="/dashboard/show-subject">Lists subjects</a></li>
                    <li><a href="/dashboard/show-tag">Lists Tag</a></li>
                    <li><a href="/dashboard/show-completion-tag">Lists Completions Tag</a></li>
                    <li><a href="/dashboard/show-formation">Lists Formation</a></li>
                </ul>
            </li>


            <li>
                <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <i class="material-symbols-outlined">dns</i>
                    <span class="nav-text">Server Setting</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/dashboard/show-slc">Show Server</a></li>
                    <li><a href="/dashboard/list-slc-camera">Lists Camera</a></li>
                    <li><a href="/dashboard/list-slc-tablet">Lists Tablet</a></li>
                </ul>
            </li>


            <li>
                <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <i class="material-symbols-outlined">person</i>
                    <span class="nav-text">User</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/dashboard/show-manager">Manager</a></li>
                    <li><a href="/dashboard/show-teacher">Teachers</a></li>
                    <li>
                        <a class="has-arrow" style="cursor:pointer;">Students</a>
                        <ul aria-expanded="false">
                            <li><a href="/dashboard/platform_student">Platform Students</a></li>
                            <li><a href="/dashboard/my-student">My students</a></li>
                        </ul>

                    </li>
                </ul>
            </li>

            <li>
                <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <i class="material-icons"> app_registration </i>
                    <span class="nav-text">Apps</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="app-profile.html">Profile</a></li>
                    <li><a href="edit-profile.html">Edit Profile</a></li>
                    <li><a href="post-details.html">Post Details</a></li>
                    <li><a class="has-arrow" href="javascript:void(0);" aria-expanded="false">Email</a>
                        <ul aria-expanded="false">
                            <li><a href="email-compose.html">Compose</a></li>
                            <li><a href="email-inbox.html">Inbox</a></li>
                            <li><a href="email-read.html">Read</a></li>
                        </ul>
                    </li>
                    <li><a href="app-calender.html">Calendar</a></li>
                    <li><a class="has-arrow" href="javascript:void(0);" aria-expanded="false">Shop</a>
                        <ul aria-expanded="false">
                            <li><a href="ecom-product-grid.html">Product Grid</a></li>
                            <li><a href="ecom-product-list.html">Product List</a></li>
                            <li><a href="ecom-product-detail.html">Product Details</a></li>
                            <li><a href="ecom-product-order.html">Order</a></li>
                            <li><a href="ecom-checkout.html">Checkout</a></li>
                            <li><a href="ecom-invoice.html">Invoice</a></li>
                            <li><a href="ecom-customers.html">Customers</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/dashboard/show-session" aria-expanded="false">
                    <i class="material-symbols-outlined">school</i>
                    <span class="nav-text">Session Setting</span>
                </a>
            </li>

            <li>
                <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <i class="material-symbols-outlined">payments</i>
                    <span class="nav-text">Payments</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/dashboard/show-payment-session">Session Payment</a></li>
                    <li><a href="/dashboard/invoice-payment-session">invoice session</a></li>

                </ul>
            </li>


        </ul>
        <div class="copyright text-center" style="text-align:center; width:100%">
            <p><strong>Unistudious moderateur Dashboard</strong></p>
            <p class="fs-12">Made with <span class="flaticon-heart"></span> by KSI</p>
        </div>
    </div>
</div>