<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="" href="/dashboard" aria-expanded="false">
                    <i class="material-symbols-outlined">home</i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>

            <li>
                <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <i class="material-symbols-outlined">settings</i>
                    <span class="nav-text">Configuration</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/dashboard/show-level">List levels</a></li>
                    <li><a href="/dashboard/show-section">Lists sections</a></li>
                    <li><a href="/dashboard/show-subject">Lists subjects</a></li>
                    <li><a href="/dashboard/show-tag">Lists Tag</a></li>
                    <li><a href="/dashboard/show-completion-tag">Lists Completions Tag</a></li>
                    <li><a href="/dashboard/show-formation">Lists Formation</a></li>
                </ul>
            </li>

            <li>
                <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <i class="material-symbols-outlined">dns</i>
                    <span class="nav-text">Smart Devices</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/dashboard/show-slc">Server</a></li>
                    <li><a href="/dashboard/list-slc-camera">Cameras</a></li>
                    <li><a href="/dashboard/list-slc-tablet">Tablets</a></li>
                    <li><a href="/dashboard/list-slc-door">Doors </a></li>
                </ul>
            </li>

            <li>
                <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <i class="material-symbols-outlined">person</i>
                    <span class="nav-text">User</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/dashboard/show-manager">Manager</a></li>
                    <li><a href="/dashboard/show-teacher">Teachers</a></li>
                    <li>
                        <a class="has-arrow" style="cursor:pointer;">Students</a>
                        <ul aria-expanded="false">
                            <li><a href="/dashboard/platform_student">Platform Students</a></li>
                            <li><a href="/dashboard/my-student">Centre Students</a></li>
                        </ul>

                    </li>
                </ul>
            </li>

            <li>
                <a href="/dashboard/show-session" aria-expanded="false">
                    <i class="material-symbols-outlined">school</i>
                    <span class="nav-text">Training Sessions</span>
                </a>
            </li>

            <li>
                <a href="/dashboard/show-payment-session" aria-expanded="false">
                    <i class="material-symbols-outlined">payments</i>
                    <span class="nav-text">Session Payment</span>
                </a>
            </li>

        </ul>
        <div class="copyright text-center" style="text-align:center; width:100%">
            <p><strong>Unistudious moderateur Dashboard</strong></p>
            <p class="fs-12">Made with <span class="flaticon-heart"></span> by KSI</p>
        </div>
    </div>
</div>