<div class="content-body">
    <div class="container-fluid">
        <div class="top-bar">
            <div class="row">
                <div class="col-md-4">
                    <a href="" class="btn btn-secondary btn-custom">
                        <i class="fas fa-arrow-left"></i> Return
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-12 pt-4">
            <div class="card">
                <div class="card_header border-0 p-3">
                    <h4 class="heading mb-0">Lists Request Create Calander</h4>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table id="example" class="display dataTable no-footer"
                               style="min-width: 845px; width: 1518px;">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Subject</th>
                                <th>Room</th>
                                <th>Session</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- data load it dynamic -->
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
</div>