<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-cl-12">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card" id="accordion-one">
                            <div class="card-header flex-wrap px-3">
                                <div>
                                    <h4 class="card-title">My Students</h4>
                                </div>
                                <ul class="nav nav-tabs dzm-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#addStudentModal">
                                            + Student
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <!--column-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body p-0">
                                            <div class="table-responsive">
                                                <div id="" class="dataTables_wrapper no-footer">
                                                    <!-- Table -->
                                                    <table id="example8" class="display table" style="min-width: 845px">
                                                        <thead>
                                                        <tr>
                                                            <th>Full Name</th>
                                                            <th>Phone</th>
                                                            <th>Email</th>
                                                            <th>Type</th>
                                                            <th>Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <!-- rows will be injected by JS -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>