<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-cl-12">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card" id="accordion-one">
                            <div class="card-header flex-wrap px-3">
                                <div>
                                    <h4 class="card-title">My Students</h4>
                                </div>
                                <ul class="nav nav-tabs dzm-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#addStudentModal">
                                            + Student
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <!--column-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body p-0">
                                            <div class="table-responsive">
                                                <div id="" class="dataTables_wrapper no-footer">

                                                    <!-- Top controls: show entries + search -->


                                                    <!-- Table -->
                                                    <table id="example8" class="display table dataTable no-footer" style="min-width: 845px;">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Type</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <!-- rows will be injected by JS -->
  </tbody>
</table>

                                                    <!-- Bottom: info + pagination -->
                                                    <div class="d-flex justify-content-between align-items-center px-3 py-3">
                                                        <div class="dataTables_info" id="example_info" role="status"
                                                             aria-live="polite">
                                                            <!-- e.g. Showing 1 to 10 of 175 entries -->
                                                        </div>
                                                        <div class="dataTables_paginate paging_simple_numbers"
                                                             id="example_paginate">
                                                            <a class="paginate_button previous disabled"
                                                               id="example_previous"
                                                               aria-controls="example" tabindex="-1">
                                                                <i class="fa-solid fa-angle-left"></i>
                                                            </a>
                                                            <span id="example_page_numbers">
                                                                      <!-- page numbers injected by DataTables -->
                                                            </span>
                                                            <a class="paginate_button next" id="example_next"
                                                               aria-controls="example" tabindex="0">
                                                                <i class="fa-solid fa-angle-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>