<div class="dlabnav">
	<div class="dlabnav-scroll">
		<ul class="metismenu" id="menu">
			<li>
				<a class="" href="/dashboard" aria-expanded="false">
					<i class="material-symbols-outlined">home</i>
					<span class="nav-text">Dashboard</span>
				</a>
			</li>
			<li>
				<a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
					<i class="material-symbols-outlined">person</i>
					<span class="nav-text">User</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="teacher.html">Manager</a></li>
					<li><a href="teacher-detail.html">Teachers</a></li>
					<li><a href="add-teacher.html">Students</a></li>
				</ul>
			</li>

			<li>
				<a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
					<i class="material-icons"> app_registration </i>
					<span class="nav-text">Apps</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="app-profile.html">Profile</a></li>
					<li><a href="edit-profile.html">Edit Profile</a></li>
					<li><a href="post-details.html">Post Details</a></li>
					<li><a class="has-arrow" href="javascript:void(0);" aria-expanded="false">Email</a>
						<ul aria-expanded="false">
							<li><a href="email-compose.html">Compose</a></li>
							<li><a href="email-inbox.html">Inbox</a></li>
							<li><a href="email-read.html">Read</a></li>
						</ul>
					</li>
					<li><a href="app-calender.html">Calendar</a></li>
					<li><a class="has-arrow" href="javascript:void(0);" aria-expanded="false">Shop</a>
						<ul aria-expanded="false">
							<li><a href="ecom-product-grid.html">Product Grid</a></li>
							<li><a href="ecom-product-list.html">Product List</a></li>
							<li><a href="ecom-product-detail.html">Product Details</a></li>
							<li><a href="ecom-product-order.html">Order</a></li>
							<li><a href="ecom-checkout.html">Checkout</a></li>
							<li><a href="ecom-invoice.html">Invoice</a></li>
							<li><a href="ecom-customers.html">Customers</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="/dashboard/show-session" aria-expanded="false">
					<i class="material-symbols-outlined">school</i>
					<span class="nav-text">Session Setting</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/show-payment-session" aria-expanded="false">
					<i class="material-symbols-outlined">payments</i>
					<span class="nav-text">Session Payment</span>
				</a>
			</li>
		</ul>
		<div class="copyright p-2">
			<p><strong>Unistudious moderateur Dashboard</strong></p>
			<p class="fs-12">Made with <span class="heart"></span> by KSI</p>
		</div>
	</div>
</div>